<h1 class="about-us d-flex justify-content-center">About us</h1>

<div class="alert alert-success d-flex justify-content-center" role="alert">
  <h5>Are you a fan of plants? We are too! Thank you for visiting our website and checking out our leafy friends!</h5>
</div>
