.first_name{
  display: flex;
  align-items: center;
  color: white;
}

.img-fluid{
  height: 600px !important;
  padding-bottom: 30px;
  border-bottom-right-radius: 85px;
  border-top-left-radius: 85px;
}